.hidden {
  display: none;
}

img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;
}

.login-part {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
